<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.4" targetFramework="net461" />
  <package id="Autofac.Extras.AttributeMetadata" version="4.1.0" targetFramework="net461" />
  <package id="Autofac.Mef" version="4.1.0" targetFramework="net461" />
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net461" />
  <package id="Certes" version="2.3.3" targetFramework="net461" requireReinstallation="true" />
  <package id="Handlebars.Net" version="1.10.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.1.4" targetFramework="net461" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net461" />
  <package id="System.ComponentModel.Composition" version="4.5.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" requireReinstallation="true" />
</packages>